#order-form
  .row-fluid
    .span6
      %h2 注文フォーム
      = simple_form_for order do |f| 
        = f.error_notification
        %table.table
          %tbody
            - Menu.all.each do |menu|
              %tr.name-row
                %td{colspan: 5}= menu.bread.name
              %tr.quantity-row
                %td
                  残
                  %span.remaining= menu.remaining_bread_quantity
                %td= text_field_tag "order[bread_quantities][#{menu.bread.id}]", bread_quantity(menu, order), class: 'order-quantity'
                %td= link_to '1.0', '#', class: 'btn inc-by-1'
                %td= link_to '0.5', '#', class: 'btn inc-by-0-5'
                %td= link_to '0', '#', class: 'btn btn-danger set-zero'
        .form-inputs
          = f.input :customer_name
        .form-inputs
          = f.input :note
        .form-actions
          = f.submit class: 'btn btn-primary'
          = link_to 'キャンセル', orders_path, class: 'btn'
        %p
          - if order.persisted?
            = link_to '削除する', order_path(order), :confirm => 'よろしいですか？', :method => :delete

