#order-list
  .row-fluid
    .span6
      %h2 注文一覧
      %p
        = link_to '新規注文', new_order_path, class: 'btn new-order-btn'
      - @orders.each do |order|
        %table.table.table-bordered
          %thead
            %tr
              %td
                = link_to edit_order_path(order) do
                  = order.customer_name.blank? ? "(No name)" : order.customer_name
              %td= l order.created_at, format: :short
          - order.order_details.each do |detail|
            %tbody
              %tr
                %td= detail.bread.name
                %td= detail.quantity
          - if order.note.present?
            %tfoot
              %tr
                %td{colspan: 2}
                  [メモ]
                  = order.note
      %p
        = link_to '新規注文', new_order_path, class: 'btn new-order-btn'
